@charset "utf-8";
/* CSS Document */

p.quotes {
}

a.permalink {
	text-decoration:underline;
	color:#960;
	font-weight:bold;
	font-size:12px;
	font-family:courier new, lucida console, fixed;
}

a.quotes {
	text-decoration:none;
	color:#960;
	font-weight:bold;
	font-size:12px;
	font-family:courier new, lucida console, fixed;
}
a {
	text-decoration:none;
	color:#960;
}
#container {
	width: 900px;
	margin-left:auto; 
	margin-right:auto; 
	clear:both;
}
#menu {
	clear:left;
	float:right;
	height:23px;
	background-color:#EEE;
	width:900px;
	text-align:right;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}
#colorblock {
	clear:both;
	height: 18px;
	padding:2px;
	background-color:#C60;
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
}
#colorblockright {
	clear:both;
	height: 18px;
	padding:2px;
	background-color:#C60;
	text-align:right;
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
}

#leftcontainer {
	padding:2px;
	vertical-align:middle;
	float:left;
}
#rightcontainer {
	float:right;
	vertical-align:middle;
	padding:2px;
}
#leftcontainerlarge {
	padding:2px;
	float:left;
	width:425px;
}
#leftcontainerextralarge {
	float:left;
	width:900px;
	font-family:courier new, lucida console, fixed;
	font-size: 14px;
}
#horizdivider {
	clear:both;
	height:20px;
}
#vertdivider {
	float:left;
	width:4px;
	height:300px;
	background-color:#C60;
}
#footer {
	clear:both;
	padding:2px;
	text-align:center;
}
body {
	font-family:courier new, lucida console, fixed;
	font-size: 12px;
	text-decoration: none;
}
#formtext {
	border:solid 1px;
	font-size:11px;
	font-family:"Lucida Console", Monaco, monospace;
}
div.scroll {
	height: 300px;
	width: 425px;
	overflow: auto;
	border: 0px;
	padding: 2px;
}
